* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  width: 97%;
  margin: 0 auto;
}

ul {
  list-style-position: inside;
}


div img {
  width: 100%;
  max-width: 200px;
}

.row {
  display: flex;
}

[class*=col] {
  margin-left: 4%;
}

.col-1 {
  flex: 0 0 20%;
}

.col-3 {
  flex: 0 0 68%;
}

.Polaris-TopBar {
  /* background-color: #000; */
}

.repo-list a {
  z-index: 999;
}